<div style="background-color: rgb(0, 255, 0); display: flex; justify-content: flex-end">
    {{#if isActive}}
    <p>Bienvenido {{isActive}}</p>
    <a href="/api/productos" class="btn btn-dark">Volver a pagina principal</a>
    <a href='/api/usuario/mi-perfil' class="btn btn-dark">Mi perfil</a>
    <a href='/api/ordenes/' class="btn btn-dark">Mis ordenes</a>
    <a href="/api/chat/" class="btn btn-dark">Chat</a>
    <a href='/api/carrito' class="btn btn-dark">Ver carrito</a>
    {{/if}}
    <a href="/api/usuario/logout" class="btn btn-dark" id="boton-login">{{boton}}</a>
</div>
<div class="card" style="flex-direction: unset; width: 18rem;">
    <img class="card-img-top" src="{{objeto.foto}}" alt="Card image cap">
    <span class="card-body">
        <h5 class="card-title">{{objeto.nombre}}</h5>
        <p class="card-text">{{objeto.descripcion}}</p>
        <p class="card-text">Stock: {{objeto.stock}}</p>
        <p class="card-text">Timestamp: {{objeto.timestamp}}</p>
        <p class="card-text">Precio: <strong>{{objeto.precio}}</strong></p>
        <button onclick=agregar() id="agregar-boton" class="btn btn-dark">Agregar al carrito</button>

        {{#if admin}}
        <button class="btn btn-dark" data-toggle="modal" data-target="#exampleModalActualizar">Actualizar
            producto</button>
        <button class="btn btn-dark" data-toggle="modal" data-target="#exampleModalEliminar">Eliminar producto</button>
        {{/if}}

    </span>
    <div class="spinner" style="font-size: 18px" id="spinner">
        <div class="head"></div>
    </div>
    <div id="mensaje"></div>

    <!-- Modal de eliminar producto-->
    <div class="modal fade" id="exampleModalEliminar" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Eliminar producto</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>¿Esta seguro que desea eliminar este producto?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">No eliminar</button>
                    <button id="eliminarProducto" type="button" class="btn btn-primary"
                        onclick=eliminar({{objeto.id}})>Eliminar</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal de actualizar producto-->
    <div class="modal fade" id="exampleModalActualizar" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Actualizar producto</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <input id="descripcion" class="form-control" placeholder="descripcion">
                        <input id="stock" class="form-control" placeholder="stock" type="number">
                        <input id="precio" class="form-control" placeholder="precio" type="number">
                        <button id="actualizarProducto" type="submit" class="btn btn-primary"
                            onclick=actualizar({{objeto.id}})>Actualizar datos</button>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar sin actualizar</button>
                </div>
            </div>
        </div>
    </div>

</div>

<div id="error-login"></div>

<script>
    let ruta;
    if (window.location.href.includes("localhost")) {
        ruta = "http://localhost:8080"
    } else {
        let ubicacion = window.location.href.indexOf('/api');
        ruta = window.location.href.slice(0, ubicacion);
    }



    function agregar() {
        document.getElementById('agregar-boton').disabled = true;
        if (document.getElementById('boton-login').innerHTML === "Iniciar sesión") {
            document.getElementById("spinner").style.display = "block";
            document.getElementById("mensaje").innerHTML = "Primero debe loguearse, lo redireccionaremos al login. Por favor, espere";
            setTimeout(() => {
                window.location.href = `${ruta}/api/usuario/login`;
            }, 3500)
        } else {
            document.getElementById("spinner").style.display = "block";
            document.getElementById("mensaje").innerHTML = "Aguarde un momento";
            fetch(`${ruta}/api/carrito/productos/{{objeto.id}}`, {
                method: 'POST',
                headers: {
                    "Content-Type": "application/json",
                },
            }).then(data =>
                data.json()
            ).then(response => {
                document.getElementById("spinner").style.display = "none";
                document.getElementById("mensaje").innerHTML = "El producto fue agregado con éxito";
                setTimeout(() => {
                    document.getElementById("mensaje").innerHTML = "";
                }, 3500)
            }).catch(error => console.error('Error:', error.message))
        }
    }

    function eliminar(id) {
        document.getElementById("eliminarProducto").innerHTML = "Aguarde...";
        document.getElementById("eliminarProducto").disabled = true;
        fetch(`${ruta}/api/productos/${id}`, {
            method: 'DELETE',
            headers: {
                "Content-Type": "application/json",
            },
        }).then(data =>
            data.json()
        ).then(response => {
            window.location.href = `${ruta}/api/productos`;
        }).catch(error => console.error('Error:', error))
    }

    function actualizar(id) {
        document.getElementById("actualizarProducto").innerHTML = "Aguarde...";
        document.getElementById("actualizarProducto").disabled = true;
        const descripcion = document.getElementById("descripcion").value;
        const stock = document.getElementById("stock").value;
        const precio = document.getElementById("precio").value;
        if (!descripcion && !stock && !precio) {
            alert("Por favor, complete alguna propiedad del producto para actualizar");
            document.getElementById("actualizarProducto").innerHTML = "Actualizar datos";
            document.getElementById("actualizarProducto").disabled = false;
            return;
        }
        const objeto = {}
        if (document.getElementById("descripcion").value != "") {
            objeto.descripcion = document.getElementById("descripcion").value
        }
        if (document.getElementById("stock").value != "") {
            objeto.stock = +document.getElementById("stock").value
        }
        if (document.getElementById("precio").value != "") {
            objeto.precio = +document.getElementById("precio").value
        }
        fetch(`${ruta}/api/productos/${id}`, {
            method: 'PUT',
            headers: {
                "Content-Type": "application/json",
            },
            body: JSON.stringify(objeto)
        }).then(data =>
            data.json()
        ).then(response => {
            if (response.errorType) {
                alert(response.errorMessage);
                document.getElementById("actualizarProducto").innerHTML = "Actualizar datos";
                document.getElementById("actualizarProducto").disabled = false;
            } else {
                window.location.href = `${ruta}/api/productos/${id}`;
            }
        }).catch(error => console.error('Error:', error))
    }
</script>