<div>
    <h1>Muchas gracias por su compra</h1>
    <h3>Le detallamos su pedido:</h3>
    <p>Numero de orden: {{orden}}</p>
    <p>Direccion de entrega: {{direccion}}</p>
    <p>Pedido:</p>
    <ul>
        {{#each productos}}
        <li>Nombre de producto: {{this.nombre}}. Cantidad: {{this.cantidad}}. Precio individual: {{this.precio}}. Subtotal: </li>
        {{/each}}
    </ul>
    <p>Total del pedido: {{total}}</p>
</div>

<script>
    let ruta;
    if (window.location.href.includes("localhost")) {
        ruta = "http://localhost:8080"
    } else {
        let ubicacion = window.location.href.indexOf('/api');
        ruta = window.location.href.slice(0, ubicacion);
    }
    setTimeout(() => {
        window.location.href = `${ruta}/api/productos`;
    }, 10000)
</script>