<div style="background-color: grey; position: relative; margin-top: 1rem" class="container">
    <h1 class="container" style="text-align: center;">Bienvenido, {{mensaje}}</h1>
    <a href="/api/usuario/logout" class="btn btn-dark" style="position: absolute; right: 0.25rem; top: 0.25rem">Desloguearse</a>
</div>

{{!-- PARTE PRODUCTOS --}}

<div class="container">
    <h1 style="text-align: center">Formulario para ingresar un nuevo producto</h1>
    {{!-- <button class="btn btn-dark"><a foto="/api/productos" style="text-decoration: none; color: white">Ir a
            catalogo
            de
            productos</a></button> --}}
    <formclass="mb-3">
        <label for="nombre" class="form-label">Nombre</label>
        <input id="nombre" type="text" name="nombre" class="form-control">
        <label for="descripcion" class="form-label">Descripcion</label>
        <input id="descripcion" type="text" name="descripcion" class="form-control">
        <label for="precio" class="form-label">Precio</label>
        <input id="precio" type="number" name="precio" class="form-control">
        <label for="stock" class="form-label">Stock</label>
        <input id="stock" type="number" name="stock" class="form-control">
        <label for="foto" class="form-label">Link de imagen del libro</label>
        <input id="foto" type="text" name="foto" class="form-control">
        <button type="submit" class="btn btn-dark" onclick=cargaDato()>Enviar</button>

        </form>

</div>
<br>

<div class="container" style="text-align: center;">
    <h1>Catalogo de productos</h1>
    {{!-- <button class="btn btn-dark"><a foto="/" style="text-decoration: none; color: white">Ir a formulario de
            carga</a></button> --}}
    <div style="display: flex; flex-wrap: wrap; justify-content: center">
        <table id="destino" class="table">
            <tr>
                <th scope="col">Nombre</th>
                <th scope="col">Descripcion</th>
                <th scope="col">Stock</th>
                <th scope="col">Precio</th>
                <th scope="col">Foto</th>
            </tr>
            <div></div>
            {{#each listaDeProductos}}
            <tr>
                <td>{{this.nombre}}</td>
                <td>{{this.descripcion}}</td>
                <td>{{this.stock}}</td>
                <td>{{this.precio}}</td>
                <td>{{this.foto}}</td>
            </tr>
            {{/each}}
        </table>
    </div>
</div>
<br>
<div class="container" style="text-align: center;">
    <h1>Generar productos aleatorios con Faker.js</h1>
    <button class="btn btn-dark" onclick=generarDatosRandom()>Generar 5 productos aleatorios</button>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Nombre</th>
                <th scope="col">Descripcion</th>
                <th scope="col">Stock</th>
                <th scope="col">Precio</th>
                <th scope="col">Foto</th>
            </tr>
        </thead>
        <tbody id="tableFaker">
        </tbody>
    </table>
</div>
<br>

{{!-- PARTE DEL CHAT DE WEBSOCKET --}}

<div class="container">
    <h1 style="text-align: center">Centro de mensajes de handlebars</h1>
    <h3 id="mensajeCompresion"></h3>
    <div style="margin: 1rem 1rem 1rem 0">
        <label for="email">Ingrese su email</label>
        <input id="email" type="email">
    </div>
    <div style="margin: 1rem 1rem 1rem 0">
        <label for="mensaje">Ingrese su mensaje</label>
        <input id="mensaje" type="text">
    </div>
    <button type="button" class="btn btn-dark" style="margin-bottom: 1rem" onclick=enviarMensaje()>Enviar</button>
    <div id="chat"></div>
</div>