<div style="background-color: rgb(0, 255, 0); display: flex; justify-content: flex-end">
    {{#if isActive}}
        <p>Bienvenido {{isActive}}</p>
        <a href='/api/usuario/{{user}}/mi-perfil' class="btn btn-dark">Mi perfil</a>
        <a href='/api/carrito/{{user}}' class="btn btn-dark">Ver carrito</a>
    {{/if}}
    <a href="/api/usuario/login" class="btn btn-dark">{{boton}}</a>
</div>
<div style="display: flex; justify-content: space-around">
    {{#each listaProductos}}

    <div class="card" style="width: 18rem;">
        {{!-- <img class="card-img-top" src="..." alt="Card image cap"> --}}
        <div class="card-body">
            <h5 class="card-title">{{this.nombre}}</h5>
            <p class="card-text">{{this.descripcion}}</p>
            <p class="card-text">Stock: {{this.stock}}</p>
            <p class="card-text">Timestamp: {{this.timestamp}}</p>
            <p class="card-text">Precio: <strong>{{this.precio}}</strong></p>
            <a href='/api/productos/{{this.id}}' class="btn btn-primary">Ver producto</a>
        </div>
    </div>
    {{/each}}
</div>