<div class="container">
    <table class="table table-dark table-striped">
        <thead>
            <tr>
                <th scope="col">Dato</th>
                <th scope="col">Informacion</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th>Argumentos de entrada</th>
                <td>{{argumentos}}</td>
            </tr>
            <tr>
                <th>Nombre de plataforma</th>
                <td>{{plataforma}}</td>
            </tr>
            <tr>
                <th>Version de Node.js</th>
                <td>{{version}}</td>
            </tr>
            <tr>
                <th>Memoria total reservada (rss)</th>
                <td>{{memoria}}</td>
            </tr>
            <tr>
                <th>Path de ejecución</th>
                <td>{{pathEjecucion}}</td>
            </tr>
            <tr>
                <th>Process id</th>
                <td>{{id}}</td>
            </tr>
            <tr>
                <th>Carpeta del proyecto</th>
                <td>{{carpeta}}</td>
            </tr>
        </tbody>
    </table>
</div>